/*
91.461 Assignment No. 9: Mini Scrabble
By Charlie Sopiep, Umass Lowell Computer Science Student
Contact me at csopiep@gmail.com
Created on 11/23/15
Got most of the basic functions done, still need to add some additional things
like making the tiles sortable and not stackable.
*/


body {
    /* 
    Standard grey background because white burns my eyes
    Background created using CSSmatic  
    */
    background-image: url('../img.png');
}

 /* Lines up the Scrabble board pieces so are aligned while spacing them
   so that the snapping works better. */
  .GameBoard {
    margin-left: auto;
    margin-right: auto;
  }
  
  

  
  /* Used for spacing purposes, so that everything is not too close */
  #Tracker{
      height:150px;
      text-align:center;
  }
  
 
/* Scales the items to center
  Board is the div holding the Scrabble board pieces
  Tile-Holder is the div holding the tile rack itself
  Rack is the div that spawns the tile located below #Tile-Holder
*/
  #Board, #Tile-Holder, #Rack, h1{
      text-align:center;
  }
  
  
  
 
  
  